*{
    margin: 0;
    padding: 0;
}
.fundo{
        background-image: linear-gradient(45deg,rgb(65, 63, 63),blue);
        color: #fff;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px;

}
.botao{
    color: #fff;
    width: 50px;
    height: 50px;
    background-color:rgb(56, 55, 55);
    font-size: 25px;
    cursor: pointer;
    border: none;
    margin: 3px;


}
.botao:hover{
background-color: black;
}

#resultado{
    width: 214px;
    background-color: #fff;
    height: 30px;
    margin: 5px;
    color:black;
    font-size: 25px;
    text-align: right;
    padding: 5px;
}